POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=smart-heaven

DATABASE_URL=postgresql://postgres:postgres@db:5432/smart-heaven?schema=public

API_PORT=3000
WEB_PORT=4200
DB_PORT=5433

JWT_SECRET=super_long_random_secret